@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

a {
    color: #e7b983;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.about {
    margin: 0 auto;
    width: 50%;
}

.argument {
    /*width: 50%;*/
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.argument li {
    color: #555;
}

blockquote {
    border-left: 2px solid #dfe2e5;
    color: #6a737d;
    padding: 0 10px;
}

body {
    background-color: #fffff8;
    color: #555;
    font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 16px;
    margin: 0 auto;
}

.credit {
    bottom: 0;
    position: absolute;
    right: 0;
}

.eq {
    border: 1px solid black;
    padding: 0.25rem;
}

.eq-caption {
    bottom: 0.75em;
    font-size: 1.25em;
    position: relative;
    text-align: center;
}

.explanation {
    background: gainsboro;
    border-radius: 1em;
    color: #555;
    font-size: 1.5rem;
    line-height: 1.4em;
    padding: 0.5em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding-left: 10px;
}

h1 {
    color: #333;
    font-size: 2em;
}

h2 {
    color: #333;
    font-size: 1.5em;
}

h3 {
    color: #333;
    font-size: 1.25em;
}

header {
    background-color: #263d36;
    background-image: url("header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    min-height: 500px;
    padding: 10vw 2em;
    position: relative;
    text-align: center;
}

header h1 {
    color: white;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 95px;
}

header a {
    border: 1px solid #e7b983;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

header a:hover {
    background:  #e7b983;
    color: white;
}

.meta {
    font-size: 0.9em;
}

nav ul {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 10px;
}

footer ul {
    font-weight: bold;
    list-style: none;
    padding: 0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.7;
}

.post-body {
    background-color: #fffff8;
    color: #555;
    font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 16px;
    margin: 0;
    max-width: 60em;
    padding: 0;
    padding-left: 12.5%;
    width: 50%;
}

.post-body h2:before {
    border-bottom: 1px solid #ececec;
    content: " ";
    display: block;
    margin-bottom: 40px;
}

.post-body h3:before {
    content: " ";
    display: block;
    margin-bottom: 30px;
}

.post-body ol {
    color: #555;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7;
}

.post-body p {
    font-weight: 400;
    line-height: 1.7;
}

.post-body .footnotes:before {
    border-bottom: 1px solid #ececec;
    content: " ";
    display: block;
    margin-bottom: 40px;
}

.post-title {
    font-size: 1.5em;
}

.post-preview {
    /*Brown: 38220ED6*/
    border-top: 2px solid #a7a7a7;
    padding: 10px;
}

.post-preview h2 {
    font-size: 1em;
}

.post-preview p {
    font-size: 1em;
}

.read-time {
    font-size: 0.9em;
}

strong {
    color: #333;
}

table {
    border:1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

th{
    border:1px solid #000000;
}

td{
    border:1px solid #000000;
}

ul.posts {
    font-size: 1em;
    margin: 20px auto 40px;
    width: 75%;
}

ul.posts li {
    list-style: none;
    margin: 2em;
}
