<!DOCTYPE html>
<html>
	<head>
        {% include header.html %}
	</head>
	<body>

		<nav>
    		<ul>
        		<li><a href="{{site.baseurl}}/">Home</a></li>
				<li><a href="{{'/about' | prepend: site.baseurl}}">About</a></li>
    		</ul>
		</nav>

    
		{{ content }}


		{% include footer.html %}

		<script src="https://unpkg.com/vanilla-back-to-top@7.2.0/dist/vanilla-back-to-top.min.js"></script>
		<script>addBackToTop({
			diameter: 56,
			backgroundColor: '#e7b983',
			textColor: '#fff'
		})</script>
	</body>
</html>
