<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/notchmess/css/main.css">
<!--		<link rel="stylesheet" href="{{ "/css/main.css, " | prepend: site.baseurl }}">-->
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			  tex2jax: {
				skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
				inlineMath: [['$','$']]
			  }
			});
		</script>
		<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="{{site.baseurl}}/">Home</a></li>
				<li><a href="{{'/about' | prepend: site.baseurl}}">About</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/wchoi11">github.com/wchoi11</a></li>
		</ul>
		</footer>
	</body>
</html>
