<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>

  <body class="post-body">
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{'/about' | prepend: site.baseurl}}">About</a></li>
      </ul>
    </nav>

    <h1>{{ page.title }}</h1>
    <p class="meta">First posted: {{ page.date | date_to_string }} </p>
    {% include read_time.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>

<!--    {% if page.comments %}-->
<!--    <div id="disqus_thread"></div>-->
<!--    <script>-->

<!--      /**-->
<!--       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
<!--       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
<!--      /*-->
<!--      var disqus_config = function () {-->
<!--      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
<!--      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
<!--      };-->
<!--      */-->
<!--      (function() { // DON'T EDIT BELOW THIS LINE-->
<!--        var d = document, s = d.createElement('script');-->
<!--        s.src = 'https://notchmess.disqus.com/embed.js';-->
<!--        s.setAttribute('data-timestamp', +new Date());-->
<!--        (d.head || d.body).appendChild(s);-->
<!--      })();-->
<!--    </script>-->
<!--    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--    {% endif %}-->
